<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/conmon.css">
    <link rel="stylesheet" href="css/demo.css">
</head>
<body>
    <div class="demo">
        <div class="header">
            <div class="header_content">
                <h1 class="logo">logo</h1>
                <div class="submitstyle">
                    <form enctype="#" method="get" action="#" class="formcontent">
                        <input type="file" name="file"
                               class="file" value="上传文件"/>
                        <input type="submit" name="submit" value="" class="submit">
                    </form>
                </div>
            </div>

        </div>
        <div class="middle">
            <div class="main_left">
                <div class="content">
                   <textarea class="text">这里是英语作文</textarea>
                </div>
            </div>
            <div class="main_right">
                <div class="main_right_test1">内容一</div>
                <div class="main_right_test2">内容二</div>
                <div class="main_right_test3">内容三</div>
            </div>
        </div>
    </div>
</body>
</html>