.demo{
    width:100%;
    height:100%;
    background: #eee;
}
.header{
    /*background: -webkit-linear-gradient(#076dd4, #055db6); !* Safari 5.1 - 6.0 *!*/
    /*background: -o-linear-gradient(#076dd4, #055db6); !* Opera 11.1 - 12.0 *!*/
    /*background: -moz-linear-gradient(#076dd4, #055db6); !* Firefox 3.6 - 15 *!*/
    /*background: linear-gradient(#076dd4, #055db6); !* 标准的语法 *!*/
}
.header .logo{
    font-size: 24px;
    background: #3f51b5;
    padding:1.5vw 2vw;
    color:#fff;
}
.submitstyle{
    background: #303f9f;
    padding:0.5vw 2vw;
}
.formcontent{
    display: inline-block;
    background: #fff;
    border-radius: 1vw;
}
.formcontent .file{
    cursor: pointer;
    border:none;
    background: #fff;
}
.formcontent .submit{
    cursor: pointer;
    width:24px;
    height:24px;
    background:url("../image/upload.png") no-repeat;
    border:none;
    margin:5px;

}
.middle{
    background: #f5f5f5;
    height:700px;
    padding:20px;
    overflow: hidden;
    border:1px solid #f00;
}
.content{
   width:100%;
   height:700px;
   overflow: hidden;
}
.content .text{
    width:100%;
    min-height:150%;
    border:none;

}
.main_left{
    border:1px solid #f00;
    float: left;
    width:49%;
}
.main_right{
    float: right;
    width:49%;
}
.main_right_test1{
     border:1px solid #f00;
     height:200px;
     margin-top:20px;
 }
.main_right_test2{
    border:1px solid #f00;
    height:200px;
    margin-top:20px;
}
.main_right_test3{
    border:1px solid #f00;
    height:200px;
    margin-top:20px;
}